html {
  min-height: 100%;
  text-shadow: 2px 2px 3px #CCC;
}

body {
  height: 100%;
  background-image: linear-gradient(#555, #fff);
  font-family: 'Roboto Mono', monospace;
}

h1, h2 {
  text-align: center;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
}

.flexwrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#stylewrapper {
  width: 66%;
  margin: 0.333em auto 0em;
  padding: 0.1em 3em 0.5em;
  background-image: url("../images/marble.png");
  background-image: url("../images/background_white_marble.jpg");
  background-size: cover;
}

#name > h1, #title {
  text-align: center;
  margin-bottom: 0;
}

#title {
  font-size: 1em;
  font-weight: 200;
  margin: 0;
  color: #444;
  text-align: center;
}

#skills {
  margin: auto;
  max-width: 900px;
}

#skills img {
  width: 75px;
  height: 75px;
}

#skills.flexwrapper {
  justify-content: space-around;
  flex-flow: row wrap;
}

.project {
  margin-bottom: 1em;
}

.project .project-title {
  position: absolute;
  left: 25%;
  top: 1em;
  color: yellow;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px black, 1px 1px 5px black;
  width: 0;
  overflow-x: visible;
  display: inline-block;
  margin-top: auto;
}

.project div {
  display: inline-block;
  width: 100%;
  margin-left: 1em;
  margin-top: auto;
  top: 0;
  position: relative;
  vertical-align: middle;
}

.project div p {
  margin-top: 0;
  font-size: 1em;
}

.project img {
  filter: grayscale(60%);
}

.social > span {
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}

.skill {
  text-align: center;
  width: 20%;
  min-width: 75px;
  margin-bottom: 1em;
}

.skill img {
  display: block;
  margin: auto;
  width: 80%;
  background-color: white;
}

p {
  text-align: justify;
}

img {
  box-shadow: 3px 3px 3px #999;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

a {
  color: blue;
}

@media only screen and (min-width: 400px) {
  .project .project-title {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1000px) {
  .project div {
    width: 45%;
  }

  .project div p {
    margin-top: 0;
    font-size: 0.8em;
  }

  .project .project-title {
    font-size: 2.3em;
  }
}
